<main>
  <h2>Select a Word Type:</h2>
  <select [(ngModel)]="selectedWordType" (change)="getWordsByType(selectedWordType)">
    <option *ngFor="let type of wordTypes" [value]="type">{{ type }}</option>
  </select>

  <h2>Available Words:</h2>
  <select [(ngModel)]="selectedWord">
    <option *ngFor="let word of wordsByType" [value]="word.word">{{ word.word }}</option>
  </select>

  <button (click)="addWordToSentence(selectedWord)">Add to Sentence</button>

  <h2>Sentence:</h2>
  <p>{{ sentence }}</p>
</main>